@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;500;600;900&display=swap');

:root {
    --index: calc(1vw + 1vh);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: url(../static/image/background.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media screen and (min-device-width: 900px) {
    .catalogGrid {
        font-size: calc(var(--index) * .5);
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--index) * 20), 1fr));
    }
}

@media screen and (max-device-width: 900px) {
    .catalogGrid {
        font-size: calc(var(--index) * .9);
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--index) * 10), 1fr));
    }
}

.wrapper {
    color: white;
    height: 100vh;
}

.catalogGrid {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    padding: 20px;
}

.details {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
    padding: calc(var(--index) * 3);
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    font-size: calc(var(--index) * 2);
}
.details button {
    position: relative;
    font-family: 'Overpass', sans-serif;
    font-size: calc(var(--index) * 1);
    background-color: #252525;
    color: white;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-weight: 100;
    cursor: pointer;
    width: 50%;
    margin-top: 36px;
}

.details button:hover {
    opacity: .7;
}

.details.show {
    display: block;
}


.item {
    max-width: calc(var(--index) * 25);
    border: 3px solid #696969;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
    gap: 12px;
    font-family: 'Overpass', sans-serif;
    font-size: calc(var(--index) * .7);
    font-weight: 100;
    backdrop-filter: blur(12px);
}

.item button {
    font-family: 'Overpass', sans-serif;
    font-size: calc(var(--index) * .7);
    background-color: #252525;
    color: white;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-weight: 100;
    cursor: pointer;
}

.item button:hover {
    opacity: .7;
}

.item img {
    max-width: 100%;
    height: auto;
}
