@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;500;600;900&display=swap');

:root {
    --index: calc(1vw + 1vh);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(../static/image/background.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.headerText {
    color: white;
    font-weight: 100;
    font-size: calc(var(--index) * 1);
    text-align: center;
}

.avatar-section img {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--index) * 3);
    right: calc(var(--index) * 1);
}

.userProfileForm {
    width: 100%;
    height: 100%;
    padding: 40px;
    backdrop-filter: blur(12px);
    display: flex;
    position: absolute;
}

.userProfileForm input[type=text], [type=date], [type=email] {
    max-width: 70%;
    padding: 12px 20px;
    margin: auto 0;
    display: block;
    border: 2px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
    background-color: #131313;
    color: white;
}

@media screen and (min-device-width: 900px) {
    .userProfileForm {
        font-size: calc(var(--index) * .5);
    }
    .userProfileForm input {
        font-size: calc(var(--index) * .5);
    }
}

@media screen and (max-device-width: 900px) {
    .loginForm {
        font-size: calc(var(--index) * .9);
    }
    .loginForm input {
        font-size: calc(var(--index) * .9);
    }
    .avatar-section img {
        top: calc(var(--index) * 10);
        right: calc(var(--index) * 1);
    }
}

.userProfileForm input::placeholder {
    color: #f3f3f3;
}

label {
    margin-top: 6px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.userProfileForm button[type=submit] {
    font-weight: 100;
    font-size: calc(var(--index) * 1);
    background-color: #252525;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 18px;
    cursor: pointer;
    width: calc(100% - 40px);
}

.wrapper form {
    display: flex;
    flex-direction: column;
}

.userProfileForm label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: white;
}

.fa-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 2.5em;
}

.fa-xmark:hover {
    opacity: 0.6;
}
